/* Estilo para o corpo da página */
body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: rgb(238, 217, 202); 
    color: rgb(12, 5, 5); 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    min-height: 40vh; 
}

/* Estilo para a barra de navegação */
.navbar {
    display: flex;
    justify-content: space-around; 
    background-color: #f0831d; 
    border-radius: 15px;
    width: 80%; 
    padding: 10px 0; 
    position: fixed; 
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000; 
}

/* Estilo para os links da barra de navegação */
.navbar a {
    color: rgb(248, 243, 243); 
    padding: 14px 20px; 
    text-align: center;
    text-decoration: none; 
    transition: background-color 0.3s; 
    border-radius: 15px; 
}

/* Efeito hover para os links da barra de navegação */
.navbar a:hover {
    background-color: #1f1b1b; 
}

/* Estilo para as seções de conteúdo */
.content {
    display: none; 
    flex: 1; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-top: 80px; 
}

.content.active {
    display: flex;
    flex-direction: column;
   
}


/* Estilo específico para o conteúdo de cada seção */
.content h2 {
    margin-bottom: 20px; 
}

.content p {
    width: 100%; /* Define a largura do parágrafo para limitar o comprimento da linha */
    text-align: center;
}

/* Estilo para o formulário de cadastro */
.form-cadastro {
    margin-top: 20px;
    padding: 20px;
    background-color: #ee9848;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-cadastro h3 {
    margin-bottom: 20px;
    color: #fcfcfc;
}

.form-cadastro label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: #fcf4f4;
}

.form-cadastro input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

.form-cadastro button {
    padding: 10px 20px;
    background-color: #fffefe;
    color: rgb(12, 1, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-cadastro button:hover {
    background-color: #777;
}

/* Estilo para o rodapé */
.footer {
    background-color: #ec7f1a;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-links a {
    color: rgb(252, 248, 248);
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
/* Estilo para a imagem na seção 'Quem sou?' */
#home img {
    max-width: 20%; 
    height: auto; 
    display: block; 
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Estilo para a imagem na seção 'Formação e Experiências' */
#about img {
    max-width: 20%; 
    height: auto; 
    display: block; 
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Estilo para a imagem na seção 'Portfólio' */
#services img {
    max-width: 20%; 
    height: auto; 
    display: block; 
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
